<div>
    <mat-toolbar color="primary" class="mat-elevation-z16">

    <a mat-button routerLink="home" ><span class="material-icons">smart_toy</span> Simple FPV</a>

    <div class="left">
        <a mat-button routerLink="news">News</a>
        <a mat-button routerLink="guid" >Guid</a>
        <a mat-button routerLink="build" >Builds</a>
        <a mat-button routerLink="buy" >Buy</a>
        <a mat-button routerLink="about" class="about">About</a>
    </div>

    <div class="right">
        <a mat-button routerLink="login" >Login/Logon</a>
        <a mat-button routerLink="home" ><span class="material-icons">smart_toy</span>Github</a>
    </div>

    </mat-toolbar>
</div>
