.mat-toolbar {
    .left {
        margin-left: 10%;
        display: flex; // Use flexbox
        justify-content: flex-start; // Align content to the left
        align-items: center; // Center content vertically
        a {
            text-decoration: none;
            color: white; // Change link text color to white or your desired color
        }
    }

    .right {
        margin: 30%;
        
        display: flex; // Use flexbox
        justify-content: flex-end; // Align content to the right
        align-items: center; // Center content vertically
        a {
            text-decoration: none;
            color: white; // Change link text color to white or your desired color
        }
    }
}