
// Netflix
.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
    margin-top: 5em;
  
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}


.contain {
    background-color: #000000;
  }