<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav primary" 
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="gallery">Gallery</a>
      <a mat-list-item routerLink="guid" >Guid</a>
      <a mat-list-item routerLink="build" >Builds</a>
      <a mat-list-item routerLink="buy" >Buy</a>
      <a mat-list-item routerLink="about">About</a>
      <a mat-list-item routerLink="admin">Login/Logon</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button routerLink="home" ><span class="material-icons">smart_toy</span> Simple FPV</a>
      <div class="main-nav-a">
        <a routerLink="gallery">Gallery</a>
        <a routerLink="guid" >Guid</a>
        <a routerLink="build" >Builds</a>
        <a routerLink="buy" >Buy</a>
        <a routerLink="about">About</a>
      </div>

      <span class="spacer"></span>

      <div class="main-nav-right">
        <a mat-button routerLink="admin" class="login">Login/Logon</a>
        <a mat-button href="https://github.com/pleycothh/simplefpv" target="_blank">
            <img class="github-icon" src="../../../assets/icons/github.webp" alt="GitHub Icon" />
        </a>  
      </div>

      <mat-slide-toggle
        class="example-margin"
        [checked]="themeDark"
        (change)="toggleDarkTheme($event.checked)"
      ></mat-slide-toggle>

    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-component></ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>
