<ng-container id="inline-gallery-container">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
          data-src= "../../../assets/images/drone-1.jpg"
          data-responsive="../../../assets/images/drone-1-480.jpg 480, ../../../assets/images/drone-1-800.jpg 800"
          data-sub-html="<h4>Photo by - <a href='https://www.pexels.com/photo/a-drone-and-a-drone-controller-14828474/' >Yusuf Miah </a></h4>">
          <img class="img-responsive" src="../../../assets/images/drone-1-480.jpg" />
        </a>
        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
        data-src="../../../assets/images/drone-3.jpg"
        data-responsive="../../../assets/images/drone-3-480.jpg 480, ../../../assets/images/drone-3-800.jpg 800"
        data-sub-html="<h4>Photo by - <a href='https://www.pexels.com/photo/dji-fpv-above-forest-11602798/' >Justin Wolfert</a></h4>">
        <img class="img-responsive"
          src="../../../assets/images/drone-3-480.jpg" />
      </a>
      <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
      data-src="../../../assets/images/drone-2.jpg"
      data-responsive="../../../assets/images/drone-2-480.jpg 480, ../../../assets/images/drone-2-800.jpg 800"
      data-sub-html="<h4>Photo by - <a href='https://www.pexels.com/photo/close-up-shot-of-a-drone-14828475/' >Yusuf Miah </a></h4>">
      <img class="img-responsive"
        src="../../../assets/images/drone-2-480.jpg" />
    </a> 
      </lightgallery>
</ng-container>
